grafana:
  ingress:
    ingressClassName: nginx
    enabled: true
    hosts:
      - grafana.${lb_ip}.sslip.io
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - secretName: grafana-tls
        hosts:
          - grafana.${lb_ip}.sslip.io
defaultRules:
  groups:
    etcd:
      create: false
    kubernetes-system-scheduler:
      create: false
    kubernetes-system-controller-manager:
      create: false
kube-state-metrics:
  metricLabelsAllowlist:
    - pods=[*]
vmsingle:
  enabled: false
vmcluster:
  enabled: true
  ingress:
    select:
      enabled: true
      ingressClassName: nginx
      annotations:
        nginx.ingress.kubernetes.io/ssl-redirect: "true"
        cert-manager.io/cluster-issuer: letsencrypt-prod
      hosts:
        - vmselect.${lb_ip}.sslip.io
      tls:
        - secretName: vmselect-tls
          hosts:
            - vmselect.${lb_ip}.sslip.io
alertmanager:
  enabled: true
  spec:
    replicaCount: 1
    port: "9093"
    selectAllByDefault: true
    image:
      tag: v0.33.1
    externalURL: ""
    routePrefix: /
  config:
    route:
      receiver: "impulse"
      group_interval: 5m
      repeat_interval: 354m
    receivers:
      - name: impulse
        webhook_configs:
          - url: 'http://my-impulse.impulse.svc.cluster.local:5000/'
      - name: blackhole
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - alertmanager.${lb_ip}.sslip.io
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
    tls:
      - secretName: alertmanager-tls
        hosts:
          - alertmanager.${lb_ip}.sslip.io
vmalert:
  enabled: true
  ingress:
    enabled: true
    ingressClassName: nginx
    hosts:
      - vmalert.${lb_ip}.sslip.io
    annotations:
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      cert-manager.io/cluster-issuer: letsencrypt-prod
    path: "/"
    pathType: Prefix
    tls:
      - secretName: vmalert-tls
        hosts:
          - vmalert.${lb_ip}.sslip.io
