apiVersion: v1
kind: Namespace
metadata:
  name: impulse
---
apiVersion: v1
kind: Secret
metadata:
  name: impulse-telegram-secrets
  namespace: impulse
type: Opaque
data:
  bot-token: ${bot_token_b64}
