impulseConfig:
  messenger:
    type: "telegram"
    # Required for Telegram: URL of Impulse instance for button callbacks (HTTPS only for Telegram)
    impulse_address: "https://impulse.apatsev.org.ru"
    admin_users: ["admin_user"]
    users:
      admin_user:
        id: "telegram_user_id"
    channels:
      incidents_default:
        id: "telegram_chat_id"
    chains:
      default:
        - user: "admin_user"
          wait: "10m"

  route:
    channel: "incidents_default"
  
  ui:
    columns:
      - name: status
        header: Status
        visible: false
        value: incident.status
      - name: created
        type: datetime
        header: Created
        value: incident.created
      - name: alertname
        header: Alertname
        type: link
        url: incident.link
        value: payload.commonLabels.alertname
      - name: service
        header: Service
        value: payload.commonLabels.service
      - name: severity
        header: Severity
        value: payload.commonLabels.severity
    sorting:
      - severity: desc
        order: ["info", "warning", "critical"]
      - created: desc
    colors:
      severity:
        critical: "#FF0000"
        warning: "#FFA500"
        info: "#00FF00"

secrets:
  existing:
    telegram:
      secretName: "impulse-telegram-secrets"
      botTokenKey: "bot-token"
ingress:
  enabled: true
  className: nginx
  hosts:
    - host: impulse.apatsev.org.ru
      paths:
        - path: /
          pathType: ImplementationSpecific
