apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "golden-signal-app.name" . }}
  labels:
    {{- include "golden-signal-app.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "golden-signal-app.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "golden-signal-app.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - name: golden-signal-app
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.service.targetPort }}
          name: http
        resources:
          {{- toYaml .Values.resources | nindent 10 }}