apiVersion: operator.victoriametrics.com/v1beta1
kind: VMServiceScrape
metadata:
  name: {{ include "golden-signal-app.name" . }}
  labels:
    {{- include "golden-signal-app.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "golden-signal-app.selectorLabels" . | nindent 6 }}
  endpoints:
  - port: http
    path: /metrics
    interval: 30s
